@media (max-width:750px)  {
  body {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
  }
  .AppView {
    position:absolute;
    overflow:scroll;
  }
  .SearchBox .innerSearchBox, .SearchBox .innerSearchBox .input_search {
    height: 45px;
  }
  .SearchBox .innerSearchBox .input_search{
    font-size: 16px;
  }
  .WeatherInfo {
    position: absolute;
    top: 57px;
    left: 10px;
    display: flex;
    width: 76%;
    max-width: 300px;
    padding: 3px;
  }
  .WeatherInfo .temperature {
    margin-bottom: 0px;
  }
  .WeatherInfo .temperature .current {
    font-size: 20px;
    margin-right: 10px;
  }
  .WeatherInfo .other_info {
    position: absolute;
    right: 10px;
    margin-bottom: 0px;
    margin-left: 3px;

  }
  .WeatherInfo .other_info div img {
    width: 12px !important;
  }
  .WeatherInfo .other_info > div {
    padding: 5px;
    font-size: 10px;
  }
  .InfoBox .specific_information .node {
    width: 130px;
  }
  .SearchPanel {
    position: absolute;
    width: 100%;
  }
  .SearchBox {
    position: absolute;
  }
  .ResultsBox {
    margin-top: 56px;
  }
  .InfoBox {
    position: absolute;
    top: 90%;
    height: auto;
  }
  .InfoBox .top_img {
    width: 100%;
    height: auto;
    display: none;
  }
  .InfoBox .profile .img {
    margin-top: 0px;
  }
  .NavControls {
    top: 70px;
    bottom: auto;
  }
}

@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 


}
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ 


}
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 


}
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 


}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 


}
@media (min-width:1281px) { /* hi-res laptops and desktops */ 


}



/*
.WeatherInfo {
  display: none;
}
*/


