.Canvas {
  height: 100%;
  width: 100%;
  z-index: 1;
}
.Canvas svg {
  background: #DFE2C7;
  width: 100%;
  height: 100%;
}

.Canvas .writing {
  cursor: pointer;
}
.Canvas .writing text {
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  fill: rgba(0,0,0,0.45);
}

.Canvas .placemark .marker {
  fill: #b44646;
}
.Canvas .placemark .circle {
  fill: #fff;
}
.Canvas .placemark path {
  stroke: #742d2d;
  stroke-width: 1px;
}

.Canvas .poi {
  cursor: pointer;
}
.Canvas .poi circle.background {
  fill: #777;
  stroke: #777;
  stroke-width: 3px;
}
.Canvas .poi circle.foreground {
  fill: #FFF;
  stroke: #DDD;
  stroke-width: 3px;
}
.Canvas .poi .icon {
  color: #7b5b5b;
  display: block;
  width: 100;
  height: 100;
  font-size: 70;
  text-align: center;
}
.Canvas .placemark {
  pointer-events: none;
}
.Canvas .placemark .icon {
  color: black;
  font-size: 10;
}
.Canvas .poi .label {
  font-size: 90px;
}
.Canvas .poi .background.label {
  fill: white;
  stroke: white;
  opacity: 0.2;
  stroke-width: 12;
}
.Canvas .poi .foreground.label {
  fill: #333;
}

.Canvas .poi:hover .icon {
  color: #442b2b;
}
.Canvas .poi:hover .foreground.label {
  fill: black;
}

.Canvas .hidden {
  display: none;
}
