.Canvas {
  height: 100%;
  width: 100%;
  z-index: 1;
}
.Canvas svg {
  background: #DFE2C7;
}

.Canvas .writing {
  cursor: pointer;
}
.Canvas .writing text {
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  fill: rgba(0,0,0,0.45);
}

.Canvas .placemark .marker {
  fill: #b44646;
}
.Canvas .placemark .circle {
  fill: #fff;
}
.Canvas .placemark path {
  stroke: #742d2d;
  stroke-width: 1px;
}

.Canvas .poi {
  cursor: pointer;
}
.Canvas .poi circle {
  fill: #fff;
  stroke: #742d2d;
  stroke-width: 10px;
}
.Canvas .poi text {
  font-size: 80px;
}
.Canvas .poi text:hover {
  fill: rgba(0,0,0,0.84);
}

.Canvas .hidden {
  display: none;
}