.DirectionsPanel {
  position: absolute;
  top: 0;
  left: 0;
  width: 350px;
  height: 100%;
  background-color: rgba(255,255,255,0.5);
  z-index: 4;
}

.DirectionsPanel .innerDirectionsPanel {
  margin: 10px;
  background-color: white;  
  height: 48px;
  border-bottom: 1px solid lightgrey;
}

.DirectionsPanel.hidden {
  display: none;
}

.DirectionsPanel .fa-times-circle-o {
  position: absolute;
  font-size: 1.7em;
  right: 14px;
  top: 22px;
  -webkit-text-stroke: 0.6px white;
}

.DirectionsPanel input {
  height: 24px;
  width: 70%;
  border: none;
  outline: none;
  margin-left: 10px;
  font-size: 16px;
  border-bottom: 1px solid lightgrey;
}
