.EventsCalendar .day {
  display: flex;
  flex-direction: row;
  padding-top: 6px;
  padding-bottom: 6px;
  border-bottom: 1px solid #EEE;
  align-items: flex-start;
}
.EventsCalendar .day:first-child {
  border-top: 1px solid #EEE;
}
.EventsCalendar .day_indicator {
  font-weight: bold;
  color: #666;
  padding-left: 6px;
  padding-right: 14px;
  text-align: center;
}
.EventsCalendar .day_number {
  font-size: 28px;
}
.EventsCalendar .month_name {
  font-size: 12px;
  text-transform: uppercase;
  margin-top: -4px;
}
.EventsCalendar .current.day_indicator {
  color: steelblue;
}
.EventsCalendar .events {
  flex-grow: 1;
}
.EventsCalendar .event {
  padding: 4px;
  color: #333;
}
.EventsCalendar .current.event {
  background: rgba(70, 130, 180, 0.2);
  color: black;
}
.EventsCalendar .time {
  color: #777;
  font-style: italic;
  margin-right: 12px;
}

.EventsCalendar .current.event .time {
  color: black;
}

/* FIXME this should be global */
.EventsCalendar a {
  text-decoration: none;
  color: inherit;
}
.EventsCalendar a:hover {
  text-decoration: underline;
}

.EventsCalendar .fa-spin {
  margin-bottom: 10px;
}
