.InfoBox {
	width: 100%;
  position: absolute;
}

.InfoBox.hidden {
	display: none;
}

.InfoBox .label {
  padding: 10px;
}

.InfoBox img {
  height: 220px;
  z-index: 2;
}

.InfoBox .message {
  padding: 70px 0px 0px 10px;
}