.InfoBox {
	width: 100%;
  height: 100%;
  position: absolute;
  font-family: sans-serif;
  background-color: rgba(255,255,255,0.5);
  box-shadow: 0px 0px 8px black;
}

.InfoBox.hidden {
	display: none;
}

.InfoBox .top_img {
  width: 100%;
  z-index: 2;
}

.InfoBox .description {
  padding: 15px;
  color: #fff;
  background: steelblue; 
}

.InfoBox .place {
  height: 100px;
}

.InfoBox .person {
  display: flex;
  justify-content: space-around;
}
.InfoBox .profile_img {
  width: 90px;
  border-radius: 10px;
}
.InfoBox .description.person {
  font-size: 13px;
}
.InfoBox .description.person .label {
  font-size: 18px;
  margin-bottom: 10px;
}
.InfoBox .description.person a {
  color: #fff;
}

.InfoBox .message {
  padding: 70px 0px 0px 10px;
}