.ResultsBox {
  display: none;
	position: absolute;
	top: 49px;
	left: 0;
	width: 20%;
  min-width: 250px;
	z-index: 5;
}

.ResultsBox .innerResultsBox p {
  padding: 9px 10px;
  margin: 0px;

}

.ResultsBox .innerResultsBox p:hover {
  background-color: #dadada;
}

.ResultsBox .allResultsBox {
  display: none;
  margin: 10px;
  background-color: white;  
  height: auto;
  max-height: 150px;
  border-bottom: 1px solid lightgrey;
  overflow: auto;
}

.ResultsBox .allResultsBox.displayed {
  display: block;
}

.ResultsBox .noResultsBox {
  display: none;
  margin: 10px;
  background-color: white;  
  height: 36px;
  padding: 1px;
  border-bottom: 1px solid lightgrey;
  font-style: italic;
}

.ResultsBox .noResultsBox.displayed {
  display: block;
}

.ResultsBox.displayed {
  display: block;
}