.ResultsBox {
  display: none;
	width: 100%;
  order: 2;
	z-index: 5;
}
.ResultsBox.displayed {
  display: block;
}

.ResultsBox .innerResultsBox .result, .ResultsBox .innerResultsBox p {
  padding: 6px 10px;
  margin: 0px;
}

.ResultsBox .innerResultsBox .result:hover {
  background-color: #dadada;
}

.ResultsBox .allResultsBox {
  display: none;
  margin: 0px 10px;
  background-color: white;  
  height: auto;
  max-height: 150px;
  border: none !important;
  border-bottom: 1px solid lightgrey;
  overflow: hidden;
}

.ResultsBox .allResultsBox .ulResultsBox {
  border: none;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.ResultsBox .allResultsBox.displayed {
  display: block;
}

.ResultsBox .noResultsBox {
  display: none;
  margin: 0px 10px;
  background-color: white;  
  height: 36px;
  padding: 1px;
  border-bottom: 1px solid lightgrey;
  font-style: italic;
}

.ResultsBox .noResultsBox.displayed {
  display: block;
}

.ResultsBox .focused {
  background-color: rgba(211,211,211,0.5);
}